body {
	margin: 0;

	height: 100%;
	width: 100%;

	overflow: hidden;

	color:dodgerblue;
	font-family: Arial, Helvetica, sans-serif;

	background-image: url(./table.jpg);
	background-size: cover;
	background-position: center;
}

main {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.enemies-p {
	text-align: center;

	padding: 10px;
	margin: 1vh 25vw;

	font-size: 24px;
	font-weight: 600;

	background-color: rgba(240, 248, 255, 0.75);
	border-radius: 15px;
}

.monsters {
	margin: 0 0.5vw 1vh;
	padding: 0;
	width: 100vw;

	display: flex;
	gap: 1vw;
	align-content: space-around;

	list-style: none;
}

.azathoth,
.cthulhu,
.iogSothoth,
.shubNiggurath {
	width: 443px;
	height: 574px;

	max-height: 45vh;
	max-width: 24vw;

	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	opacity: 0.75;
}

.azathoth {
	background-image: url(./assets/Ancients/Azathoth.png);
}

.cthulhu {
	background-image: url(./assets/Ancients/Cthulthu.png);
}

.iogSothoth {
	background-image: url(./assets/Ancients/IogSothoth.png);
}

.shubNiggurath {
	background-image: url(./assets/Ancients/ShubNiggurath.png);
}

.chosen {
	opacity: 1;
}

.game {
	display: flex;
	justify-content: space-around;

	margin-bottom: 1vh;
}

.game-difficulty-p {
	margin: 0 0 5px;
	font-size: 24px;
	font-weight: 600;
}

.difficulty {
	padding: 10px;
	height: 43vh;

	display: flex;
	flex-direction: column;

	background-color: rgba(240, 248, 255, 0.75);
	border-radius: 15px;
}

.difficulty-level {
	font-size: 20px;
	font-weight: 500;
}

.cards {
	display: flex;
}

.card-deck,
.current-card {
	width: 24vw;
	height: 419px;

	max-height: 45vh;
	max-width: 285px;

	border-radius: 15px;

	display: none;
}

.card-deck {
	background-image: url(./assets/mythicCardBackground.png);

	display: block;
}

.status {
	display: flex;
	flex-direction: row;
}
